.container-tag {
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid var(--color-white);
    padding: 0.2rem 0.5rem;
    color: var(--color-white);
    font-family: 'inter', sans-serif;

    @media (min-width:600px) {
        border: 2.3px solid var(--color-white);
    }
}