.content-loader {
    z-index: 10;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: flex-end;
    background: var(--color-principal-shadow);
    height: 0vh;

    &.strat-loader-down {
        animation: loadingDown .5s forwards ease-in-out;
    }

    &.strat-loader-up {
        animation: loadingUp .5s forwards ease-in-out;
    }
}

@keyframes loadingUp {
    0% {
        height: .1vh;
        margin: auto 0 0;
    }

    25% {
        height: 100vh;
    }

    50% {
        margin: 0 0 auto;
    }

    75% {
        height: 100vh;
    }

    99% {
        translate: 0;
    }

    100% {
        margin: 0 0 auto;
        height: .1vh;
        translate: 0 -.2vh;
    }
}

@keyframes loadingDown {
    0% {
        height: .1vh;
        margin: 0 0 auto;
    }

    25% {
        height: 100vh;
    }

    50% {
        margin: auto 0 0;
    }

    75% {
        height: 100vh;
    }

    99% {
        translate: 0;
    }

    100% {
        margin: auto 0 0;
        height: .1vh;
        translate: 0 .2vh;
    }
}