.content-page-betting-template {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    overflow: hidden;

    .img-template {
        border-radius: 18px;
        transform: scale(1.5);
        transform-origin: top;
        transition: none;
    }

    .content-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1rem;
        height: 100vh;


        .center-content {
            background: var(--color-gray);
            position: relative;
            border-radius: 18px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            align-items: start;
            padding: 1rem;
            gap: 5vw;
            position: absolute;
            height: auto;
            inset: 1rem;

            @media (min-width:960px) {
                inset: 3rem;
                align-items: center;
                flex-direction: row;
            }

            .content-illustrator-bet {
                width: 100%;
                height: auto;
                max-width: 70vw;
                margin-top: 1rem;

                @media (min-width:769px) {
                    margin-top: unset;
                    max-width: unset;
                    width: 53vh;
                    height: auto;
                }
            }

            .content-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 18px;

                @media (min-width:960px) {
                    max-width: 36vw;
                }

                h1 {
                    font-size: 7.5vh;
                    line-height: 8vh;
                    font-weight: 800;
                    color: white;

                    @media (min-width:960px) {
                        font-size: 8.5vh;
                        line-height: 9.5vh;
                    }
                }

                h2 {

                    @media (min-width:960px) {
                        font-size: 3.5vh;
                        line-height: 4vh;
                    }

                    font-size: 2.8vh;
                    line-height: 3.5vh;
                    color: white;
                    opacity: .5;
                    font-weight: 200;
                    opacity: .5;
                }

                .point-principal {
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;
                    border: 6px solid var(--color-principal);
                    position: absolute;
                    left: 1.2rem;
                    top: 1.2rem;
                }
            }
        }
    }

    .content-main {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        gap: 1rem;

        @media (min-width:960px) {
            gap: 2rem;
            padding: 0 3rem;
        }
    }
}