.content-page-betting-template {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    overflow: hidden;

    .img-template {
        margin: 0 1rem;
        border-radius: 18px;
        transform: scale(1.5);
        transform-origin: top;
        transition: none;
    }

    .content-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1rem;

        @media (min-width:769px) {
            height: 100vh;
        }

        .center-content {
            background: var(--color-gray);
            position: relative;
            border-radius: 18px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            align-items: start;
            padding: 1rem;
            gap: 5vw;
            height: fit-content;

            @media (min-width:960px) {
                position: absolute;
                inset: 1rem;
                height: auto;
                align-items: center;
                flex-direction: row;
            }

            .content-illustrator-bet {
                width: 100%;
                height: auto;
                max-width: 70vw;
                margin-top: 1rem;

                @media (min-width:769px) {
                    margin-top: unset;
                    max-width: unset;
                    width: 53vh;
                    height: auto;
                }
            }

            .content-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 18px;

                h1 {

                    @media (min-width:769px) {
                        font-size: 9.5vh;
                        line-height: 10vh;
                        max-width: 63vh;
                    }

                    font-size: 11.5vw;
                    line-height: 13vw;
                    font-weight: 800;
                    color: white;
                }

                h2 {
                    @media (min-width:960px) {
                        font-size: 1.5vw;
                        line-height: 2vw;
                        max-width: 40vw;
                    }

                    font-size: 2.5vh;
                    line-height: 3.5vh;
                    color: white;
                    opacity: .5;
                    font-weight: 200;
                    opacity: .5;
                }

                .point-principal {
                    width: 15px;
                    height: 15px;
                    border-radius: 50px;
                    border: 3px solid var(--color-principal);
                    position: absolute;
                    left: 1.2rem;
                    top: 1.2rem;
                }
            }
        }
    }
}