.content-page-sebrae {
    margin: auto;
    // max-width: 1440px;
    max-width: 1024px;
    padding: 1rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .content-introduction {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        h2 {
            text-align: center;
            font-size: 22px;
            font-weight: 100;
            color: var(--color-white);

            @media (min-width:600px) {
                font-size: 35px;
            }
        }

        p {
            opacity: 0.7;
            text-align: center;
            font-size: var(--font-md) !important;
            font-style: normal;
            font-weight: 300;
        }
    }

    .content-components {
        background: linear-gradient(180deg, #295BAE 0%, #1a3b70 100%);

        min-height: 500px;
        border-radius: 16px;
        margin: 0 1rem;
    }

    .content-technology {
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
    }

    .cover-phone {
        position: absolute;
        max-width: 300px;
        max-height: 600px;
        right: 15px;
        top: -32px;
    }

    .content-title {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        justify-content: center;
        align-items: flex-start;

        .title-page {
            font-family: 'inter', sans-serif;
            font-size: 40px;
            line-height: 41px;
            text-align: center;
            font-weight: 800;
            width: 100%;
            color: var(--color-white);
            max-width: 300px;
            margin: auto;

            @media (min-width:600px) {
                max-width: unset !important;
                font-size: 60px;
                line-height: 61px;
            }
        }

        .point-principal {
            width: 10px;
            height: 10px;
            border-radius: 15px;
            margin: 0 auto;
            background: var(--color-principal);
        }
    }

    p {
        font-size: 20px;
        color: #fff;
    }

    .content-brand {
        max-width: 588px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        gap: var(--space-lg);
        flex-direction: column;

        .title {
            text-align: center;
            font-size: 35px;
            font-weight: 600;
            color: var(--color-white);
        }

        .description {
            opacity: .7;
            text-align: center;
            font-size: var(--font-md);
            font-style: normal;
            font-weight: 300;
        }

        .grid-colors {
            display: flex;
            justify-content: center;
            gap: var(--space-xl);
            flex-direction: column;

            @media (min-width:600px) {
                gap: 50px;
                flex-direction: row;
            }

            .color-title {
                text-align: center;
                font-size: var(--font-md);
                font-weight: 600;
            }
        }
    }

    .content-icons {
        max-width: 588px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--space-lg);
        flex-direction: column;


        p {
            &:nth-of-type(1) {
                text-align: center;
                font-size: 35px;
                font-weight: 600;
                color: var(--color-white);
            }

            &:nth-of-type(2) {

                opacity: .7;
                text-align: center;
                font-size: var(--font-md);
                font-style: normal;
                font-weight: 300;
            }
        }
    }


}

.btn-close-page {
    width: 50px !important;
    position: fixed;
    top: 4rem;
    right: 1rem;
    margin: -50px 0 0 auto;
    z-index: 999;
    padding: unset !important;
    font-size: 25px !important;

    &.hidden-close {
        scale: 2;
        opacity: 0;
    }
}