.content-page-sebrae {
    width: 100%;
    transition: .3s ease-in-out;
    transform: scale(0.98);
    opacity: 0 !important;
    

    .max-grid {
        margin: auto;
        max-width: 1024px;
        padding: 1rem 1rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .cover-phone {
        position: absolute;
        max-width: 300px;
        max-height: 600px;
        right: 15px;
        top: -32px;
    }

    &.show {
        opacity: 1;
        transform: scale(1);

    }

    .content-title {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;

        .pre-title {
            font-size: var(--font-sm);
            color: var(--color-white);
            opacity: .5;
        }

        .title-page {
            font-family: 'inter', sans-serif;
            font-size: 40px;
            line-height: 41px;
            text-align: center;
            font-weight: 800;
            color: var(--color-white);

            @media (min-width:600px) {
                font-size: 60px;
                line-height: 61px;
            }
        }
    }

    p {
        font-size: 20px;
        color: #fff;
    }

    .content-brand {
        max-width: 588px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        gap: var(--space-lg);
        flex-direction: column;

        .title {
            text-align: center;
            font-size: 35px;
            font-weight: 600;
            color: var(--color-white);
        }

        .description {
            opacity: .7;
            text-align: center;
            font-size: var(--font-md);
            font-style: normal;
            font-weight: 300;
        }

        .grid-colors {
            display: flex;
            justify-content: center;
            gap: var(--space-xl);
            flex-direction: column;

            @media (min-width:600px) {
                gap: 50px;
                flex-direction: row;
            }

            .color-title {
                text-align: center;
                font-size: var(--font-md);
                font-weight: 600;
            }
        }
    }

    .content-icons {
        max-width: 588px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--space-lg);
        flex-direction: column;


        p {
            &:nth-of-type(1) {
                text-align: center;
                font-size: 35px;
                font-weight: 600;
                color: var(--color-white);
            }

            &:nth-of-type(2) {

                opacity: .7;
                text-align: center;
                font-size: var(--font-md);
                font-style: normal;
                font-weight: 300;
            }
        }
    }
}

.btn-close-page {
    width: 50px;
    height: 50px;
    background: var(--color-principal);
    border-radius: 50px;
    position: sticky;
    top: 1rem;
    border: none;
    margin: -50px 0 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
    transition: .3s ease-in-out;

    svg {
        width: 18px;
        transition: scale .3s ease-in-out;

        path {
            fill: var(--color-white);
        }
    }

    @media (min-width:600px) {
        &:hover {
            scale: 0.95;
            box-shadow: unset;
            background: var(--color-principal-shadow);

        }
    }
}

@keyframes loadingSkeleton {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}