.content-page {
    width: 100%;
    transition: .7s cubic-bezier(.6, -.5, .4, 1.5);

    &.hidden-page {
        opacity: 0 !important;
        transform: translatey(8rem);
    }
}
.load-title {
    position: absolute;
    inset: 0;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}