// Colors
$yellow:         #F4C041;
$green-white:    #60D2A8;
$green:          #217357;
$green-black:    #0C2E21;

// blackScale
$black:            black;
$black70:        #1d1d1d;
$black50:        #3f3f3f;
$black20:        #BDBDBD;
$black10:        #F2F2F2;
$white:            white;