:root {
    --animate-duration: 0.5s;
    --animate-delay: 0.5s;
    --animate-repeat: 0.5
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.animate-fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

.animate-fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}


.animate-animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.opacityHide {
    opacity: 0;
}