@import './color.scss';

body {
    background: $black;
    &::-webkit-scrollbar-track{
        border-radius: 10px;
      background-color: #0000004d;
      }
  
      &::-webkit-scrollbar{
        width: 5px;
      }
  
      &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $black20;
      }
}

.title-section {
    font-weight: 700;
    font-size: 2.5rem;
    color: $white;
}
.subtitle-section {
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
}