.content-float-sidebar {

    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    z-index: 99;

    position: fixed;
    left: var(--space-sm);
    right: var(--space-sm);
    bottom: var(--space-sm);

    border-radius: 50px;
    background: #171c2647;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(6px);
    transition: .3s;

    @media (min-width:600px) {
        gap: var(--space-sm);
        width: fit-content;
        margin: auto;
    }

    .btn-close-flout {
        width: 50px;

        svg {
            max-width: 12px;
            height: 100%;

            path {
                fill: var(--color-white);
            }
        }
    }

    .vertical-line {
        width: 1px;
        height: 30px;
        background: #ffffff26;
    }

    .circle-icon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
        background: var(--color-principal);
        transition: .3s;
    }

    p {
        color: var(--color-white);
        font: 700 var(--font-md) 'Inter', sans-serif;
    }
}