.content-position-svg {
    position: relative;

    min-width: unset;
    min-height: 275px;

    @media (min-width:600px) {
        min-width: 275px;
        height: auto;
    }



    .content-astronaut,
    .content-star {
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .content-astronaut {
        max-width: 200px;
        animation: floatAnimation 5s infinite alternate ease-in-out;
    }

    .content-star {
        max-width: 275px;

        #blink1 {
            animation: shineStars 3s infinite alternate ease-in-out;
        }

        #blink2 {
            animation: shineStars 2s infinite alternate ease-in-out;
        }

        #blink3 {
            animation: shineStars 2.5s infinite alternate ease-in-out;
        }

        #blink4 {
            animation: shineStars 4s infinite alternate ease-in-out;
        }
    }

}

@keyframes floatAnimation {
    0% {
        transform: translateY(5px) rotate(4deg);
        scale: (1.0);
    }

    40% {
        transform: translateY(0) rotate(2deg);
    }

    60% {
        transform: translateY(3px) rotate(2deg);
    }

    100% {
        scale: (1.03);
        transform: translateY(-2px) rotate(-2deg);
    }
}