.screen-content-dinamic {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;

  @media (max-width: 960px) {
    max-width: unset;
  }

  .screen-odd {
    width: 100%;
    position: absolute;
    bottom: 8%;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;

    @media (min-width: 960px) and (max-width: 1200px) {
      bottom: 4.5vw;
      width: 100%;
    }

    @media (max-width: 960px) {
      display: none !important;
    }
  }

  .card-bet {
    width: 100%;
    border-radius: 14px;

  }

  .flout-bar {
    position: absolute;
    bottom: -4%;
    left: 0.5rem;
    right: 0.5rem;
    width: -webkit-fill-available;
    z-index: 1;
  }
}

.grid-card-odd {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  .title-card-odd {
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    width: 100%;
  }

  .description-card-odd {
    color: var(--color-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    opacity: 0.7;
  }
}