
.container-iframe {
    display: flex;
    justify-content: center;

    iframe {
        width: 100%;
        height: 500px;
        border-radius: 0.7rem;
        border: none;

    }
}

.container-case {
    margin-top: 10rem;

    h1 {
        margin-bottom: 2rem;
    }
}

.chakra-modal__content {
    transition: 0.1s !important;
}

.scroll-content {
    max-height: calc(100vh - 110px);
    overflow-y: auto;
}

.content-modal-case {
    transform: translateY(20rem);
}

.frame-content {
    border-radius: 8px;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, .2);
}

.container-banner {
    margin: 4rem 0;
    width: 100%;
    height: 300px;
    // transform: scale(1.09);
    position: relative;
    overflow: hidden;

    .img-effect {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 120%;
        object-fit: cover;

        @media(min-width: 800px) {
            height: unset;
        }

        ;
    }

}