.screen-content-dinamic {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  
  @media (min-width: 1024px) {
    margin-bottom: 2rem;
    max-width: 450px;
  }
  .screen-odd {
    width: 100%;
  }

  .card-bet {
    width: 100%;
    border-radius: 14px;
    @media (min-width: 1024px) {
      position: absolute;
      bottom: 18%;
      left: -1rem;
      right: -1rem;
      width: 110%;
      // width: -webkit-fill-available;
      &.clone {
        bottom: -2%;
      }
    }
  }

  .flout-bar {
    position: absolute;
    bottom: -4%;
    left: 0.5rem;
    right: 0.5rem;
    width: -webkit-fill-available;
    z-index: 1;
  }
}
.grid-card-odd {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  .title-card-odd {
    color: var(--color-white);
    font-size: 35px;
    font-weight: 600;
    text-align: start;
    width: 100%;
  }
  .description-card-odd {
    color: var(--color-white);
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    opacity: 0.7;
  }
}
