.container-home {
    img {
        width: 70px;
        height: auto;
        display: block;
        margin-bottom: 10px;
        transition: 0.3s;
    }
    span {
        font: 800 25px 'Roboto',sans-serif;
        color: black;
        ;

        @media(max-width: 959px) {
            margin-left: -3px;
        };
    }
    h1 {
        font: 700 7.3vw 'Roboto',sans-serif;
        color: black;
        margin: -15px 0 -15px -5px;
        ;

        @media(max-width: 959px) {
            font: 700 12vw 'Roboto',sans-serif;
            margin: -2px 0 -2px -5px;
        };
    }
    h2 {
        font: 300 6vw 'Roboto',sans-serif;
        color: black;
        margin-left: -6px;
        ;

        @media(max-width: 959px) {
            font: 300 9vw 'Roboto',sans-serif;
        };
    }
}