.container-home {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transition: .3s ease-in-out;

    &.hidden-home {
        opacity: 0 !important;
        translate: 0 -8rem !important;
    }


    @media (min-width:600px) {
        max-width: 1024px;
        margin: auto;
    }

    .content-top {
        width: 100%;
    }

    .content-float-main {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-md);
        min-height: 460px;

        @media (min-width:600px) {
            margin-right: 100px;
        }
    }

    .content-text-main {
        display: flex;
        flex-direction: column;

        p {
            font-size: 15.5vw;
            line-height: 15vw;
            font-weight: 800;
            color: var(--color-white);

            &.color-principal {
                &::selection {
                    color: var(--color-white) !important;

                }
            }

            &::selection {

                background: var(--color-principal);
                color: var(--color-black);
                text-shadow: none;
            }

            @media (min-width:600px) {
                font-size: 80px;
                line-height: 80px;

            }
        }
    }

    .content-skills {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            font-size: var(--font-lg);
            font-weight: 300;
            color: var(--color-white);
            text-transform: uppercase
        }
    }

    .content-list-card {
        display: flex;
        gap: var(--space-md);
        flex-direction: column;

        @media (min-width:600px) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            .content-card-page {
                &:nth-child(1) {
                    grid-row-start: 1;
                    grid-column-start: 1;

                    grid-row-end: 2;
                    grid-column-end: 3;
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-column-start: 3;

                    grid-row-end: 2;
                    grid-column-end: 4;
                }
            }
        }
    }

    .mb-footer {
        margin-bottom: 5rem;
    }
}
.title-project {
    font-size: var(--font-sm);
    color: var(--color-white);
    opacity: .2;
    font-weight: 500;
}