.container-home {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: 3vw;
    transition: .5s ease-in-out;

    @media (min-width:600px) {
        max-width: 1024px;
        margin: auto;
    }

    .content-top {
        width: 100%;
    }

    .content-float-main {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-md);

        @media (min-width:600px) {
            margin-right: 100px;
        }
    }

    .content-text-main {
        display: flex;
        flex-direction: column;

        p {
            font-size: 15.5vw;
            line-height: 13vw;
            font-weight: 800;
            color: var(--color-white);

            @media (min-width:600px) {
                font-size: 80px;
                line-height: 70px;

            }
        }
    }

    .content-skills {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            font-size: var(--font-lg);
            font-weight: 300;
            color: var(--color-white);
            text-transform: uppercase
        }
    }

    .content-list-card {
        display: flex;
        gap: 18px;
        flex-direction: column;

        @media (min-width:600px) {
            flex-direction: row;
        }
    }
    .mb-footer {
        margin-bottom: 5rem;
    }
}