body {
    overflow: hidden !important;
}

.container-introdution {
    background: black;
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    align-items: center;
    display: flex;

    h1 {
        padding: 14px 4px 4px 4px;
        font-size: 5rem;
        text-align: left;
        font-family: sans-serif;
        color: white;
        padding: 10vh 10vh 10vh 180px;
        font-weight: 200;

        @media(max-width: 959px) {
            padding: 10vh 1rem;
        };
        b{
            font-weight: 500;
        }
        .mt {
            margin-top: -0.8rem !important;
        }
    }
    
    .row {
        display: block;
        overflow: hidden;
    }
    
    .row + .row {
        margin-top: 1px;
    }
    
    .row span {
        display: block;
        animation: frames 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }
    
    .row:nth-child(2) span {
        animation-delay: .05s;
    }
    
    
    .row span:before {
        content: attr(title);
        animation: switch 0.5s steps(1) infinite;
    }
    
    @keyframes frames {
        0% { transform: translateY(120%) rotate(-5deg); }
        20%, 80% { transform: translateY(0) rotate(0); }
        100% { transform: translateY(-120%) rotate(5deg); }
    }
    
    @keyframes switch {
        50%, 100% { content: attr(data-alt) }
    }
}