@import '../../assets/style/color.scss';


.container-introdution {
    background: $black;
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    h2 {
        font-size: 5rem;
        color: white;
        font-weight: 200;

        &:last-child {
            margin-top: -5px;
        }
    }
}