.content-iframe {
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  height: 350px;

  &.skeleton {
    background: linear-gradient(
      90deg,
      var(--color-black) 25%,
      var(--color-gray) 50%,
      var(--color-black) 75%
    );
    background-size: 200% 100%;
    animation: loadingSkeleton 2s infinite ease-in-out;
  }

  .glass {
    position: absolute;
    inset: 0;
    background: #2d364487;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    cursor: pointer;
    color: var(--color-white);

    i {
      font-size: 40px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      max-width: 170px;
      text-align: center;
      line-height: 17px;
    }
    &:hover {
      background: var(--color-principal-transparent);
    }
  }

  .iframe-figma {
    border-radius: 18px;
    width: 100%;
    border: none !important;
    height: 350px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 600px) {
    height: 500px;

    .iframe-figma {
      height: 500px;
    }
  }
}
