@import '../../assets/style/color.scss';

.container-card {
    text-decoration: none;
    width: 100%;
    padding: 1.5rem;
    min-height: 320px;
    border-radius: 10px;
   

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background: $black70;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal, overlay, normal;
    
    &.expend {
        position: fixed;
        right: 0rem;
        left: 0rem;
        top: 5rem;
        bottom: 5rem;
        z-index: 999;
        margin: auto;
        max-width: 900px;
    }
    header {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 13px;
            border-radius: 50px;
            border: 2px solid $white;
            padding: 0.2rem 0.5rem;

            &:hover {
                background: $white;
                color: $black70;
            }
        }
    }
    span, h3 {
        color: $white;
    }
}
.me-2 {
    margin-right: 0.5rem !important;
  }