:root {
    --start-height: 400px;
    --start-width: 400px;
}

.content-card-page {
    text-decoration: none;
    background-color: var(--color-gray);
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 300px;


    &.expend {
        transform: translate(1rem, 0) scale(6)
    }

}