:root {
    --start-height: 400px;
    --start-width: 400px;
}

.content-card-page {
    text-decoration: none;
    background-color: var(--color-gray);
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 300px;
    transition: scale 0.5s ease-in-out;

    &.expend {
        scale: 6;
    }

}