.content-illustrator-bet {
    position: relative;
    transform: translate(-30px, 30px);
    opacity: 0;
    animation: startContent .5s cubic-bezier(0.54, 0.01, 0.21, 1.56) forwards .55s;

    .ball-bet {
        transform-origin: 56px 32px;
        animation: rotate 60s linear infinite;
        will-change: transform;
        backface-visibility: hidden;
    }

    .effect-bal-bet {
        @media (min-width: 480px) {
            width: 50vh;
        }

        width: 70vw;

        height: auto;

        .shine {
            path {
                &:nth-child(6) {
                    animation: shineStars 3s infinite alternate ease-in-out 1.6s;
                    opacity: 0;
                }
                &:nth-child(9) {
                    animation: shineStars 2s infinite alternate ease-in-out 1.3s;
                    opacity: 0;
                }

                &:nth-child(10) {
                    animation: shineStars 3s infinite alternate ease-in-out 1.4s;
                    opacity: 0;
                }

                &:nth-child(11) {
                    animation: shineStars 3s infinite alternate ease-in-out 1.4s;
                    opacity: 0;
                }

                &:nth-child(12) {
                    animation: shineStars 2s infinite alternate ease-in-out 1.3s;
                    opacity: 0;
                }

                &:nth-child(13) {
                    opacity: 0;

                    animation: shineStars 2.5s infinite alternate ease-in-out 1.2s;
                }

                &:nth-child(14) {
                    opacity: 0;
                    animation: shineStars 4s infinite alternate ease-in-out 1.1s;
                }
            }
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes startContent {
    to {
        transform: translate(0);
        opacity: 1;
    }
}