.content-header, .content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: var(--color-white);
        font-weight: 300;
        font-size: var(--font-lg);
    }

    .content-social {
        gap: var(--space-sm);
        display: flex;
    }
}

.content-header {
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
}