:root {
    --sebrae-color-principal: #295BAE;
    --sebrae-color-secondary: #A7D2F6;
    --sebrae-color-alert: #FD611F;
    --sebrae-color-successful: #6FAE1C;
    --sebrae-color-white: #FFFFFF;
    --sebrae-color-black: #2F4358;
}

.grid-cards-sebrae {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-md);

    .first {
        grid-area: unset;
        flex-direction: column !important;
    }

    .second {
        grid-area: unset;

        .content-info {
            height: 100%;
        }
    }

    .third {
        grid-area: unset;
    }

    .fourth {
        grid-area: unset;
    }

    .content-heat-map {
        height: 180px;
        margin: -30px 0 -20px -30px;
        animation: scaleHeatmap 1s infinite alternate ease-in-out;
    }

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .first {
            grid-area: 1 / 1 / 2 / 3;
        }

        .second {
            grid-area: 2 / 1 / 3 / 2;
        }

        .third {
            grid-area: 2 / 2 / 3 / 3;
        }

        .fourth {
            grid-area: 3 / 1 / 4 / 3;
        }
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .first {
            grid-area: 1 / 1 / 2 / 3;
        }

        .second {
            grid-area: 1 / 3 / 2 / 4;
        }

        .third {
            grid-area: 2 / 1 / 3 / 2;
        }

        .fourth {
            grid-area: 2 / 2 / 3 / 4;
        }
    }




    .bg-sebrae-white {
        background: var(--sebrae-color-white);
    }

    .bg-sebrae-secondary {
        background: var(--sebrae-color-secondary);
    }

    .bg-sebrae-alert {
        background: var(--sebrae-color-principal);

    }

    .bg-sebrae-successful {
        background: var(--sebrae-color-successful);
        display: flex;
        flex-direction: column !important;

        .content-info {
            justify-content: flex-end !important;
        }
    }

    .top-modal {
        margin: auto;
        width: 100%;
        max-width: 350px;

        @media (min-width:600px) {
            max-width: unset;
        }
    }

    .content-card {
        border-radius: 18px;
        padding: 18px;
        overflow: hidden;
        position: relative;

        &.large-card {
            gap: var(--space-md);
            height: fit-content;
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
        }

        &.shurt-card {
            width: 100%;
            height: fit-content;
            gap: 16px;
            flex-direction: column !important;
            justify-content: flex-end;

            @media (min-width:600px) {
                height: 335px;
            }
        }

        @media (min-width:600px) {
            &.shurt-card {
                height: fit-content;
            }

            padding: 30px;
            flex-direction: row !important;
            height: 350px !important;
        }

        .container-tag {
            opacity: .9;
            color: var(--color-black);
            border-color: var(--color-black);

        }

        .content-top-sreen {
            height: fit-content;
            object-fit: contain;
            margin: 18px auto -22px auto;
            position: relative;
            max-width: 100%;

            @media (min-width:600px) {
                width: fit-content;
                margin-bottom: - 30px;
            }
        }

        .top-screen {
            @media (min-width:600px) {
                width: unset;
            }

            max-width: 350px;
            width: 100%;

        }

        .content-info {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: space-between;

            .content-description {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);

                h3 {
                    color: var(--color-black);
                    font-size: var(--font-lg);
                    font-weight: 700;
                    line-height: 30px;
                    opacity: 0.9;

                }

                p {
                    opacity: 0.5;
                    color: var(--color-black);
                    font-size: var(--font-md);
                    font-weight: 400;
                }
            }
        }
    }

    .finger-ux {
        z-index: 99;
        border-radius: 50px;
        border: 2px solid #a74effb8;
        width: 50px;
        height: 50px;
        position: absolute;
        inset: .7rem 0rem auto 4.3rem;
        margin: auto;
        background: #a74eff26;
        animation: fingerSize .8s infinite alternate ease-in-out;


        @media (min-width: 600px) {

            inset: 1rem .78rem auto auto;

        }

        @media (min-width: 1024px) {
            inset: 1rem .78rem auto auto;
        }
    }
}

@keyframes fingerSize {
    0% {
        scale: (1.2);
        opacity: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    }

    100% {
        opacity: 1;
        scale: (1);
    }
}

@keyframes scaleHeatmap {
    0% {
        scale: (1.03);
    }

    100% {
        scale: (1);
    }
}