@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2p5r7d');
  src:  url('fonts/icomoon.eot?2p5r7d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2p5r7d') format('truetype'),
    url('fonts/icomoon.woff?2p5r7d') format('woff'),
    url('fonts/icomoon.svg?2p5r7d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-Instagram:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-Dribble:before {
  content: "\e903";
}
.icon-Facebook:before {
  content: "\e904";
}
