.content-bottom {
  p {
    font-family: 'inter', sans-serif;
    color: var(--color-white);
    text-align: center;

    &:nth-of-type(1) {
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
    }

    &:nth-of-type(2) {
      @media (max-width: 480px) {

        &.pt-text {
          font-size: 7.5vw;
        }
      }

      font-size: 33px;
      font-weight: 700;
    }
  }
}