@import '../../assets/style/color-and-fonts.scss';

.container-footer {
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-footer {
        font-size: 1.5rem
    }

    a {
        fill: $white;
        margin-right: 30px;
        ;
    }

    svg {
        width: 25px;
        height: auto;
    }

    .btn-case {
        color: $white;
        margin-right: 0;
        cursor: pointer;
    }
}