.content-frame-device {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: -webkit-fill-available;

    .device-scroll {
        opacity: 0 !important;
        z-index: 1;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        pointer-events: none;
        object-fit: contain;
    }

}

.screen-scroll {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 1px;
    overflow-y: hidden;
    padding: 0px 0 139.5%;
    border-radius: 18px;
    background: white;
    
    @media (min-width: 480px) {
        padding: 0 0 61.5%;
    }
    
    img {
        border-radius: 18px;
        width: 100%;
        object-fit: contain;
        transition: traslate 0.3s ease-in-out;
    }
}

.content-range {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
    
    @media (min-width: 480px) {
        margin: .8rem auto 0;
    }

    p {
        font-size: var(--font-xs) !important;
        opacity: .5;
        text-align: center;
        margin: 10px auto -15px;
    }

    input[type=range] {
        height: 31px;
        -webkit-appearance: none;
        // margin: 10px 0;
        width: 100%;
        background: none;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        max-width: 500px;
        margin: auto;
        height: 7px;
        cursor: pointer;
        animate: 0.2s;
        background: var(--color-gray) !important;
        border-radius: 50px;
        appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 25px;
        width: 25px;
        border-radius: 50px;
        background: var(--color-principal) !important;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9px;
    }
}