@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  // COLORS
  --color-black: #151A22;
  --color-gray: #2d3645;
  --color-black-transparent: #151a2234;
  --color-principal: #A74EFF;
  --color-white: #fff;

  // FONTS
  --font-xs: 0.8rem;
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-lg: 1.6rem;
  --font-xl: 2.5rem;

  // SPACES
  --space-xs: 8px;
  --space-sm: 14px;
  --space-md: 16px;
  --space-lg: 18px;
  --space-xl: 22px;
}

* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  min-width: 380px;
  height: 100dvh;
  background: var(--color-black);
  // overflow: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff18;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff18;
  }
}

.no-scroll {
  overflow: unset !important;
}

.z-99 {
  z-index: 99;
}

.z-1 {
  z-index: 1;
}

.z-under {
  z-index: -1;
}

.color-principal {
  color: var(--color-principal) !important;
}

.btn-principal {
  font: 700 var(--font-md) 'Inter', sans-serif;
  background-color: var(--color-principal);
  border: 1px solid var(--color-principal);
  color: var(--color-white);
  text-align: center;
  border-radius: 50px;
  height: 50px;
  width: fit-content;
  padding: 0 18px;
  text-decoration: none;
  user-select: none;
  transition: 0.3s;
}

.d-flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-md {
  gap: var(--space-md);
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-xs {
  gap: var(--space-xs);
}

.show {
  opacity: 1 !important;
}

.bg-white {
  background: var(--color-white);
}

.hidden {
  opacity: 0;
}