@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  // COLORS
  --color-black: #151A22;
  --color-gray: #2d3645;
  --color-black-transparent: #151a2234;
  --color-principal: #A74EFF;
  --color-principal-shadow: #561894;
  --color-principal-light: #c692f9;
  --color-principal-transparent: #732cbac5;
  --color-white: #fff;

  // FONTS
  --font-xs: 0.8rem;
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-lg: 1.6rem;
  --font-xl: 2.5rem;

  // SPACES
  --space-xs: 8px;
  --space-sm: 14px;
  --space-md: 16px;
  --space-lg: 18px;
  --space-xl: 22px;

  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-wide: 1440px;
}

::selection {

  background: var(--color-principal);
  color: var(--color-black);
  text-shadow: none;
}

* {
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s cubic-bezier(.6, -.5, .4, 1.5);

}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  min-width: 375px;
  scroll-behavior: smooth !important;
  background: var(--color-black);
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff18;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff18;
  }
}

.no-scroll {
  overflow: unset !important;
}

.rotate-90 {
  transform: rotate(90deg);
}

.z-99 {
  z-index: 99;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-under {
  z-index: -1;
}

.color-principal {
  color: var(--color-principal) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.btn-principal {
  font: 700 var(--font-md) 'Inter', sans-serif;
  background: linear-gradient(180deg, var(--color-principal), var(--color-principal-shadow), var(--color-principal-light));
  background-size: 200% 200%;
  border: none;
  color: var(--color-white);
  text-align: center;
  border-radius: 50px;
  height: 50px;
  width: fit-content;
  padding: 0 18px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    scale: 0.95;
    box-shadow: unset;
    background: var(--color-principal-shadow);

  }

  @media (min-width:600px) {
    &:hover {
      background-size: 100% 190%;
      scale: 0.95;
      box-shadow: unset;

    }
  }
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content:space-between
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.mt-md {
  margin-top: var(--space-md);
}

.px-md {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.gap-md {
  gap: var(--space-md);
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-xs {
  gap: var(--space-xs);
}

.show {
  opacity: 1 !important;
}

.bg-white {
  background: var(--color-white);
}

.hidden {
  opacity: 0;
}

@keyframes shineStars {
  0% {
    scale: (1);
    opacity: 1;
  }

  100% {
    scale: (1.02);
    opacity: 0.2;
  }
}


@keyframes shineStars {
  40% {

    opacity: 1;
  }

  60% {
    opacity: 0.4;
  }
}