@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../src/assets/style/color.scss';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background: $black;
    &::-webkit-scrollbar-track{
        border-radius: 10px;
      background-color: #1414144d;
      }
  
      &::-webkit-scrollbar{
        width: 5px;
      }
  
      &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $black20;
      }
}

.title-section {
    font-weight: 700;
    font-size: 2.5rem;
    color: $white;
}
.subtitle-section {
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
}