@import "tailwindcss/theme.css" layer(theme);

:root {
  /* COLORS */
  --color-black: #151a22;
  --color-gray: #2d3645;
  --color-black-transparent: #151a2234;
  --color-principal: #a74eff;
  --color-principal-shadow: #561894;
  --color-principal-light: #c692f9;
  --color-principal-transparent: #732cbac5;
  --color-white: #fff;

  /* FONTS */
  --font-xs: 0.8rem;
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-lg: 1.6rem;
  --font-xl: 2.5rem;

  /* SPACES */
  --spacing-xs: 8px;
  --spacing-sm: 14px;
  --spacing-md: 16px;
  --spacing-lg: 18px;
  --spacing-xl: 22px;

  /* RADIUS */
  --radius-xs: 8px;
  --radius-sm: 14px;
  --radius-md: 16px;
  --radius-lg: 18px;
  --radius-xl: 22px;

  /* BORDER RADIUS */
  --border-radius-xs: 8px;
  --border-radius-sm: 14px;
  --border-radius-md: 16px;
  --border-radius-lg: 18px;
  --border-radius-xl: 22px;

  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-wide: 1440px;

  --height-flouting-navegation: 68px;
}

@theme inline {
  /* FONTS */
  --text-xs: 0.8rem;
  --text-sm: 0.9rem;
  --text-md: 1rem;
  --text-lg: 1.6rem;
  --text-xl: 2.5rem;

  /* RADIUS */
  --radius-xs: 8px;
  --radius-sm: 14px;
  --radius-md: 16px;
  --radius-lg: 18px;
  --radius-xl: 22px;

  /* SPACES */
  --spacing-xs: 8px;
  --spacing-sm: 14px;
  --spacing-md: 16px;
  --spacing-lg: 18px;
  --spacing-xl: 22px;
  --spacing-2xl: 28px;
  --spacing-3xl: 36px;
  --spacing-4xl: 48px;
  --spacing-5xl: 64px;

  /* PADDING */
  --padding-xs: 8px;
  --padding-sm: 14px;
  --padding-md: 16px;
  --padding-lg: 18px;
  --padding-xl: 22px;

  /* MARGIN */
  --margin-xs: 8px;
  --margin-sm: 14px;
  --margin-md: 16px;
  --margin-lg: 18px;
  --margin-xl: 22px;

  /* GAP */
  --gap-xs: 8px;
  --gap-sm: 14px;
  --gap-md: 16px;
  --gap-lg: 18px;
  --gap-xl: 22px;

  /* INSET */
  --inset-xs: 8px;
  --inset-sm: 14px;
  --inset-md: 16px;
  --inset-lg: 18px;
  --inset-xl: 22px;
}

@tailwind utilities source("./");
