.content-float-sidebar {

    display: flex;
    padding: 8px;
    align-items: center;
    z-index: 99;
    gap: var(--space-sm);
    width: fit-content;
    margin: auto;

    position: fixed;
    left: var(--space-sm);
    right: var(--space-sm);
    bottom: calc(var(--space-sm) + 3px);
    height: var(--height-flouting-navegation);
    
    border-radius: 50px;
    background: #151a228c;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    backdrop-filter: blur(6px);
    border: 1.5px solid rgba(242, 242, 242, .1);
    transform: translateY(8.3rem);
    opacity: 0;



    &.show-up {
        opacity: 1;
        transform: translateY(0);
    }


    .btn-close-flout {
        width: 50px;

        svg {
            max-width: 12px;
            height: 100%;

            path {
                fill: var(--color-white);
            }
        }
    }

    .vertical-line {
        width: 1px;
        height: 30px;
        background: #ffffff26;
    }

    .circle-icon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
        background: var(--color-principal);
    }

    p {
        color: var(--color-white);
        font: 700 var(--font-md) 'Inter', sans-serif;
    }
}